<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>房间管理</title>
</head>
<body>
	<include file= "./admin"/>

<div class="add">
	<table>
	<form action="{:U('Admin/Facility/addR')}" method="post">
		<td><input type="text" name="ID" placeholder="房号"></td>
		<td><input type="text" name="price" placeholder="价钱"></td>
		<td><!-- 不能为空，不可修改 -->
			<input type="radio" name="type" value="1" checked="">大床房
			<input type="radio" name="type" value="0">双床房
		</td>
		<td><input type="text" name="desc" placeholder="描述"></td>
		<td><input type="submit" value="新增"></td>
	</form>
	</table>
</div>
<div>
	<table rules="all">
		<th><input type="checkbox" name="全选" value="全选"></th>
		<th>ID</th>
		<th>房号</th>
		<th>价钱</th>
		<th>类型</th>
		<th>描述</th>
		<th>状态</th>
		<th>注册时间</th>
		<th>操作</th>
		<foreach name="data" item="one" >
		<tr>
			<td><input type="checkbox" name="id[]" value="{$one['r_id']}"></td>
			<td>{$one['r_id']}</td>
			<td>{$one['room_ID']}</td>
			<td>{$one['price']}</td>
			<td><?php 
			if ($one['type'] == 0) {
				echo "双床房";
			}else{
				echo "大床房";
			}
			?></td>
			<td>{$one['desc']}</td>
			<td><?php 
			if ($one['is_open'] == 0) {
				echo "关闭";
			}else{
				echo "开放";
			}
			?></td>
			<td>{$one['cTime']}</td>
			<td><a href="{:U('Admin/Facility/delR')}?id={$one['r_id']}"><button type="button">删除</button></a></td>
		</tr>
	<div class="edit">
		<form action="{:U('Admin/Facility/editR')}?id={$one['r_id']}" method="post">
		<tr style="color:red">
			<td><!-- <input type="checkbox" name="id[]" value="{$one['r_id']}"> --></td>
			<td>{$one['r_id']}</td>
			<td><input type="text" name="ID" value="{$one['room_ID']}"></td>
			<td><input type="text" name="price" value="{$one['price']}"></td>
			<td>
				<input type="radio" name="type" value="1" <?php
					if ($one['type'] == 1) {
						echo 'checked=""';
					}
				?>>大床房
				<input type="radio" name="type" value="0" <?php
					if ($one['type'] == 0) {
						echo 'checked=""';
					}
				?>>双床房
			</td>
			<td><input type="text" name="desc" value="{$one['desc']}"></td>
			<td>
				<input type="radio" name="status" value="1" <?php
					if ($one['is_open'] == 1) {
						echo 'checked=""';
					}
				?>>开放
				<input type="radio" name="status" value="0" <?php
					if ($one['is_open'] == 0) {
						echo 'checked=""';
					}
				?>>关闭
			</td>
			<td>-</td>
			<td><input type="submit" value="编辑&更新"></td>
		</tr>
		</form>
	</div>
		</foreach>
	</table>
</div>
</body>
</html>