<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>会员开通</title>
</head>
<body>

	<include file= "./home"/>
<div id="right-show">
	
	开通会员
	<form class="form-horizontal" action="{:U('Home/Vip/reg')}" method="post">
		<div class="form-group">
		    <label for="name" class="col-sm-2 control-label">姓名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control info" id="name" name="name" style="width:200px" disabled>
		    </div>

		    <label for="ID" class="col-sm-2 control-label">身份证</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="ID" name="ID" style="width:200px" required onblur="checkID()">
		      <span class="text-danger" id="ID_tips"></span>	
		    </div>

		    <label for="phone" class="col-sm-2 control-label">手机</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control info" id="phone" name="phone" style="width:200px" disabled>
		    </div>
	    </div>
	    <div class="form-group">
		    <label for="" class="col-sm-2 control-label">会员卡号</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="" name="card" style="width:200px" required>
		    </div>
	    </div>
	    <div class="form-group">
		    <label for="" class="col-sm-2 control-label">卡费</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="" name="balance" value="200.00" style="width:200px" disabled>
		    </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-offset-2 col-sm-10">
	        <span id="mode">
		    	<label>
		    		<input type="radio" name="mode" value="0" checked="">现金支付
		    	</label>
		    	<label>
		    		<input type="radio" name="mode" value="1">网上支付
		    	</label>
		    	<label>
		    		<input type="radio" name="mode" value="2">会员卡支付
		    	</label>
		    </span>
	       </div>
      	</div>
      	<div class="form-group">
		    <label for="" class="col-sm-2 control-label">验证码</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="" name="verify" style="width:200px" required>
			  <img id="verifyImg" src="__URL__/verify/<?php echo NOW_TIME;?>" onClick="changeVerify()" title="点击刷新验证码"/>
		    </div>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	          <button type="submit" class="btn btn-default">开通会员</button>
	        </div>
	    </div>
	</form>
	
</div>

	<script language="JavaScript">

		$("#ID").focus();/* 初始页面焦点 */

		var info_url = "{:U('Home/Client/getPeopleInfo')}";
		var reg_url = "{:U('Home/Client/reg')}";

		/* 加载入住人信息 */
		function checkID() {
			
			var ID = $("#ID");
			var ID_TIPS = $("#ID_tips");

			if (ID.val().length != 18) {
				ID_TIPS.text("身份证长度不正确！应为18位！");
				$(".info").val("");
				ID.focus();
				return;
			};


			$.ajax({
	        	url: info_url,
	        	type: 'post',
	        	data: {ID: ID.val()},
	        	dataType: 'json',
	        	success: function(data) {

	        		if (data['info'] === false) {
	        			ID_TIPS.text("身份证不合法！请检查是否输入正确！");
	        			$(".info").val("");
	        			ID.focus();
	        			return;
	        		};

	        		if (!data['info']) {
	        			ID_TIPS.html('该身份证未注册！<a href="'+reg_url+'?id='+ ID.val() +'">注册</a>');
	        			// ID_TIPS.html('<div class="alert alert-danger" role="alert">对不起，您输入的密码有误</div>');
	        		}else{

	        			$(".info#name").val(data['info']['name']);
	        			$(".info#phone").val(data['info']['phone']);
	        			ID_TIPS.text("");
	        		}
	        	}
	        });
		}

		function changeVerify(){
			var timenow = new Date().getTime();
			document.getElementById('verifyImg').src='__URL__/verify/'+timenow;
		}
	</script>
	
</body>
</html>