<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>会员开通</title>
</head>
<body>

	<include file= "./home"/>
<div id="right-show">
	
	开通会员
	<form action="{:U('Home/Vip/reg')}" method="post">
		<p>姓　名：<input class="info" id="name" type="text" name="name" disabled></p>
		<p>身份证：<input id="ID" type="text" name="ID" onblur="checkID()">* <span id="ID_tips" style="color:red"></span></p>
		<p>手　机：<input class="info" id="phone" type="text" name="phone" disabled></p>
		<p>会员卡：<input type="text" name="card">*</p>
		<p>卡　费：<input type="text" name="balance" value="200.00" disabled></p>
		<p>　　　
	    <span id="mode">
	    	<label><input type="radio" name="mode" value="0" checked="">现金支付</label>
	    	<label><input type="radio" name="mode" value="1">网上支付</label>
	    	<label><input type="radio" name="mode" value="2">会员卡支付</label>
	    </span>
        </p>
		<p>验证码：<input type="text" name="verify">
		<img id="verifyImg" src="__URL__/verify/<?php echo NOW_TIME;?>" onClick="changeVerify()" title="点击刷新验证码"/></p>
		<input type="submit" value="开通" />
	</form>
	
</div>

	<script language="JavaScript">

		$("#ID").focus();/* 初始页面焦点 */

		var info_url = "{:U('Home/Client/getPeopleInfo')}";
		var reg_url = "{:U('Home/Vip/reg')}";

		/* 加载入住人信息 */
		function checkID() {
			
			var ID = $("#ID");
			var ID_TIPS = $("#ID_tips");

			if (ID.val().length != 18) {
				ID_TIPS.text("身份证长度不正确！应为18位！");
				$(".info").val("");
				ID.focus();
				return;
			};


			$.ajax({
	        	url: info_url,
	        	type: 'post',
	        	data: {ID: ID.val()},
	        	dataType: 'json',
	        	success: function(data) {

	        		if (data['info'] === false) {
	        			ID_TIPS.text("身份证不合法！请检查是否输入正确！");
	        			$(".info").val("");
	        			ID.focus();
	        			return;
	        		};

	        		if (!data['info']) {
	        			ID_TIPS.html('<span id="ID_tips" style="color:red">该身份证未注册！<a href="'+reg_url+'?id='+ ID.val() +'">注册</a></span>');
	        		}else{

	        			$(".info#name").val(data['info']['name']);
	        			$(".info#phone").val(data['info']['phone']);
	        			ID_TIPS.text("");
	        		}
	        	}
	        });
		}

		function changeVerify(){
			var timenow = new Date().getTime();
			document.getElementById('verifyImg').src='__URL__/verify/'+timenow;
		}
	</script>
	
</body>
</html>