<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>服务请求 - 处理中</title>
</head>
<body>

       1.前台帮客户提交借设备请求：选择房间号，选择物品，提交
       <!-- 2.客户扫码(已默认获取房间号)后：选择物品，提交 -->
       3.从状态1“刚申请”，前台响应借设备请求，通知客户微信，状态改变为“已响应”2
       4.从状态2“已响应”，前台确认用户归还设备，状态改变为“已归还”3

  	借设备流程：
       扫码提交请求，状态1->历史记录，取消，状态0
       扫码提交请求，状态1->响应请求，状态2->确认归还，状态3
	
</body>
</html>