<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>客户管理</title>
</head>
<body>

	<include file= "./admin"/>
	<foreach name="data" item="one" >
		
		<p>客户ID：{$one['client_ID']}</p>
		<p>姓名：{$one['name']}</p>
		<p>身份证：{$one['ID_card']}</p>
		<!-- <p>学生证：{$one['s_ID']}<span>(暂无用)</span></p> -->
		<p>性别：
		<?php 
		if ($one['gender'] == 0) {
			echo "女";
		}else{
			echo "男";
		}
		?></p>
		<p>生日：{$one['birthday']}</p>
		<p>微信ID：{$one['openid']}</p>
		<p>手机：{$one['phone']}</p>
		<p>注册时间：{$one['cTime']}</p>
		<p>累计预订晚数：{$one['countNights']}</p>
		<hr/>
	</foreach>
	
</body>
</html>