<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>意见列表</title>
</head>
<body>

	<include file= "./home"/>
	<foreach name="data" item="one" >
		
		<p>编号：{$one['opinion_ID']}</p>
		<p>评分：{$one['grade']}</p>
		<p>微信ID：{$one['openid']}<span>(有这项则可以向其发送信息[2天内有效]</span></p>
		<p>姓名：{$one['name']}</p>
		<p>邮箱：{$one['email']}</p>
		<p>手机：{$one['phone']}</p>
		<p>内容：{$one['content']}</p>
		<p>创建时间：{$one['cTime']}</p>
		<hr/>
	</foreach>
	
</body>
</html>