<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>物品出租</title>
	<?php $SRC = HOME_SRC; ?>
	<link rel="stylesheet" href="{$SRC}/css/bootstrap.min.css">
	
	<style>
		.table th, .table td {
		    text-align: center;
		}
	</style>
	<script type="text/javascript" src="{$SRC}/scripts/jquery.min.js"></script>

</head>
<body>


	<span class="text-default" style="font-size:200%;">房间信息: <span class="text-info" style="font-size:60%;">{$room['ID']} {$room['type']}</span></span>　　
	<span class="text-default" style="font-size:200%;">顾客信息: <span class="text-info" style="font-size:60%;">{$client['name']}</span> <span class="text-info" style="font-size:60%;">{$client['phone']}</span> <span class="text-info" style="font-size:60%;">{$client['ID_card']}</span></span>

	<table class="table table-striped table-bordered table-hover" style="width:750px">
	   <thead>
	     <tr>
	       <th>名称</th>
	       <th>单价/元</th>
	       <th>押金/元</th>
	       <th>数量</th>
	       <th>小计/元</th>
	       <th>备注</th>
	     </tr>
	   </thead>
	   <form class="form-horizontal" action="{:U('Home/Rent/rent')}" method="post">
	   	<input type="text" name="o_id" value="{$o_id}" hidden/>
	   	
	   <tbody>
	   	<foreach name="data" item="one_cate" >
	   	   <foreach name="one_cate[sub_thing]" item="one_thing" key="id" >
		     <tr>
		       <td>{$one_thing['name']}</td>
		       <td><span id="price">{$one_thing['price']}</span></td>
		       <td><span class="deposit" id="deposit">{$one_thing['deposit']}</span></td>
		       <td>
		        <input type="text" name="id[]" value="{$id}" hidden />
		       	<input type="button" class="btn sub" value="-">
		       	<input type="text" id="quantity" style="width:40px;" name="quantity[]" value="0" />
		       	<input type="button" class="btn add" value="+"></td>
		       <td><span class="total" id="total">0.0</span></td>
		       <td><input class="form-control center-block" type="text" name="note[]" style="width:150px"/></td>
		     </tr>
		   </foreach>
	   	</foreach>
	   </tbody>
	   	
		<div class="form-group form-inline">
			
			<span class="text-info" style="font-family:verdana;font-size:180%;">应交：<span class="text-primary" id="all_total">0.0</span></span>
			<span class="text-warning" style="font-family:verdana;font-size:100%;">(含押金：<span class="text-primary" id="all_deposit">0.0</span>)</span>
		</div>
		<button class="btn btn-info" type="submit">提交</button>

	   </form>
	</table>


	<script type="text/javascript">
		$("input.add").on('click', function() {

			var QUANTITY = $(this).parent("td").children('#quantity');

			if (QUANTITY.val() == "" || QUANTITY.val() == 0) {
				
				QUANTITY.attr("value", 1);
			}else{

				QUANTITY.attr("value", parseInt(QUANTITY.val()) + 1);
			}

			QUANTITY.val(QUANTITY.attr("value"));
			total($(this).parents("tr"));
		});

		$("input.sub").on('click', function() {

			var QUANTITY = $(this).parent("td").children('#quantity');

			if (QUANTITY.val() != "" &&QUANTITY.val() >= 1) {

				QUANTITY.attr("value", parseInt(QUANTITY.val()) - 1);
			}

			QUANTITY.val(QUANTITY.attr("value"));
			total($(this).parents("tr"));
		});

		/* 手动输入数量 */
		$("input#quantity").on('input', function() {
			
			var QUANTITY = $(this).parent("td").children('#quantity');

			QUANTITY.attr("value", QUANTITY.val());
			total($(this).parents("tr"));
		});

		/* 计价 */
		function total(tr){

			var PRICE = tr.find("#price");
			var DEPOSIT = tr.find("#deposit");
			var QUANTITY = tr.find("#quantity");
			var TOTAL = tr.find("#total");

			// 小计
			if (QUANTITY.val() == '0') {
				TOTAL.text('0.0');
			}else {
				var total = (parseFloat(PRICE.text()) * parseInt(QUANTITY.val()) + parseFloat(DEPOSIT.text())).toFixed(1);
				TOTAL.text(total);
			}


			// 总价
			var all=0;
			$(".total").each(function(){

				all += Number($(this).text());
			});

			var ALL_TOTAL = $("#all_total");
			ALL_TOTAL.text(all.toFixed(1));

			// 押金
			var deposit=0;
			$(".deposit").each(function(){

				if (Number($(this).parents("tr").find("#quantity").val()) > 0) {
					
					// console.log($(this).text());
					deposit += Number($(this).text());
				};
			});

			var ALL_DEPOSIT = $("#all_deposit");
			ALL_DEPOSIT.text(deposit.toFixed(1));
		}
	</script>
</body>
</html>