<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>办理入住</title>
</head>
<body>

	<include file= "./home"/>
<div id="right-show">
	
	办理入住
	<table border="1">
	   <thead>
	     <tr>
	       <th class="text-center">订单类型</th>
	       <th class="text-center">订单编号</th>
	       <th class="text-center">入住\离店日期</th>
	       <th>订单详情</th>
	       <th class="text-center">支付方式</th>
	       <th class="text-center">房间类型</th>
	       <th class="text-center">总价</th>
	       <th class="text-center">订单状态</th>
	       <th class="text-center">分配房间</th>
	       <th class="text-center">操作</th>
	     </tr>
	   </thead>
	   <tbody>
	   	<form action="{:U('Home/Order/check_in')}" method="post">
         <tr>
           <td class="text-center">{$data['style_name']}</td>
           <td class="text-center">{$data['o_id']}</td>
            <td class="text-center"><p>{$data['A_date']}</p><p>{$data['B_date']}</p></td>
            <td>
            <?php
            $book_info = json_decode($data['book_info'],true);
            ?>
            <p>入住晚数: {$data['nights']}</p>
            <p>入住人数: {$book_info['number']}</p>
            <p>入住人员信息: </p>
            <foreach name="book_info['people_info']" item="value" >
               <li>{$value['name']} {$value['ID_card']}</li>
            </foreach>
            <p>备注: {$book_info['note']}</p>
            </td>
            <td class="text-center">
            <?php
            	$mode = '';
            	switch ($data['pay_mode']) {
            		case 0:
            			$mode = "现金支付";
            			break;
            		case 1:
            			$mode = "网上支付";
            			break;
            		case 2:
            			$mode = "会员卡支付";
            			break;
            		default:
            			break;
            	}
            	echo $mode;
            ?>
            </td>
            <td class="text-center">{$data['type_name']}</td>
            <!-- <td class="text-center">{$types[$data['type']]['name']}<br/>￥{$types[$data['type']]['price']}</td> -->
            <td class="text-center">￥{$data['price']}</td>
            <td class="text-center"  title="状态改变时间: &#10;取消: {$data['cancel']}&#10;支付: {$data['pay']}&#10;入住: {$data['checkIn']}&#10;离店: {$data['checkOut']}">
           <?php
           	$str = '';
           	switch ($data['status']) {
           		case 0:
           			$str = "取消";
           			break;
           		case 1:
           			$str = '<span style="color:red">预订</span>';// 红色警示，未付款
           			break;
           		case 2:
           			$str = "已支付";
           			break;
           		case 3:
           			$str = "入住ing"."<p>".$data['room_ID']."房</p>";
           			break;
           		case 4:
           			$str = "离店";
           			break;
           		default:
           			break;
           	}
           	// 换房/续住的备注
           	if ($data['note'] != '') {
           		$data['note'] = str_replace(array(';'), "<br/>", $data['note']);
           		$str .= "<span>". $data['note'] ."</span>";
           	}
           	echo $str;
           ?>
           </td>
            <td class="text-center">
           	  <select name="room" class="form-control center-block" style="width:90px">
           		<option value ="-1">请选择</option>
           		<foreach name="rooms" item="one" key="k" >
           			<option value ="{$one}" <?php
           			if ($one == $data['room_ID']) {
           				echo 'selected=""';
           			}
           			?>>{$one}</option>
           		</foreach>
              </select>
               <p><input class="form-control center-block" type="number" step="10" min="0" name="deposit" placeholder="请输入押金" style="width:120px" required></p>
            </td>
            <td class="text-center">
            <button class="btn btn-success center-block">确定</button><br />
            <a class="btn btn-primary btn-xs center-block" target="_blank" href="{:U('Home/Order/print_o')}?id={$data['o_id']}">打印订单</a>
            <input type="text" name="id" value="{$data['o_id']}" hidden="">
            </td>
         </tr>
	   	</form>
	   </tbody>
	</table>
</div>
</body>
</html>