<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>已完成订单</title>
</head>
<body>

	<include file= "./home"/>
<div id="right-show">
	
     <div class="navbar navbar-default" role="navigation">
           <ul class="nav navbar-nav">
               <li><a href="{:U('Home/Order/dealing')}">未完成订单</a></li>
               <li class="active"><a href="{:U('Home/Order/complete')}">已完成订单</a></li>
           </ul>
           <form class="form-inline navbar-form navbar-right" action="{:U('Home/Order/complete')}" method="get">
             <div class="form-group">
               <label for="date" class="control-label">入住日期：</label>
               <input type="date" class="form-control" id="date" name="date" placeholder="选择日期" value="{:I('get.date')}" style="width:160px">
             </div>
          <button type="submit" class="btn btn-default">查询</button>
         </form>
     </div>

	<table border="1">
	  <thead>
	    <tr>
	      <th class="text-center">订单类型</th>
	      <th class="text-center">订单编号</th>
	      <th class="text-center">预订时间</th>
	      <th class="text-center">预订人信息</th>
	      <th class="text-center">代理人</th>
	      <th class="text-center">入住\离店时间</th>
	      <th>订单详情</th>
	      <th class="text-center">来源</th>
	      <th class="text-center">支付方式</th>
	      <th class="text-center">房间类型</th>
	      <th class="text-center">总价</th>
	      <th class="text-center">分配房间</th>
	      <th class="text-center">订单状态</th>
	      <th class="text-center">操作</th>
	    </tr>
	  </thead>
	  <tbody>
       <foreach name="data" item="one" key="k" >
        <tr>
          <td class="text-center">{$one['style_name']}</td>
          <td class="text-center">{$one['o_id']}</td>
          <td class="text-center">
          <?php
          	$t = explode(' ', $one['cTime']);
          ?>
          <p>{$t[0]}</p><p>{$t[1]}</p>
          </td>
          <td class="text-center"><p>{$one['name']}</p><p>{$one['ID_card']}</p><p>手机{$one['phone']}</p></td>
          <td class="text-center">
          <?php
          	if ($one['agent_name']) {
          		echo "<p>".$one['agent_name']."</p><p>**".substr($one['a_phone'], 7)."</p>";
          	}else{
          		echo " - ";
          	}
          ?>
          </td>
          <td class="text-center"><p>{$one['A_date']}</p><p>{$one['B_date']}</p></td>
          <td style="width:207px">
          <?php
          $book_info = json_decode($one['book_info'],true);
          ?>
          <p>入住晚数: {$one['nights']}</p>
          <p>入住人数: {$book_info['number']}</p>
          <p>入住人员信息: </p>
          <foreach name="book_info['people_info']" item="value" >
              <li>{$value['name']} {$value['ID_card']}</li>
          </foreach>
          <p>备注: {$book_info['note']}</p>
          </td>
          <td class="text-center">{$one['source_name']}
          <?php
          	if ($one['groupon_name']) {
          		echo "<p>".$one['groupon_name']."</p>";
          	}
          ?>
          </td>
          <td class="text-center">
          <?php
          	$mode = '';
          	switch ($one['pay_mode']) {
          		case 0:
          			$mode = "现金支付";
          			break;
          		case 1:
          			$mode = "网上支付";
          			break;
          		case 2:
          			$mode = "会员卡支付";
          			break;
          		default:
          			break;
          	}
          	echo $mode;
          ?>
          </td>
          <td class="text-center">{$one['type_name']}</td>
          <td class="text-center">￥{$one['price']}</td>
          <td class="text-center" title="<?php echo str_replace(array(';'), '&#10', $one['note']);?>">
          <?php
          	if ($one['room_ID']) {
          		echo $one['room_ID']."房";
          	}else{
          		echo "未分配";
          	}

          	// // 换房/续住的备注
          	// if ($one['note'] != '') {
          	// 	$one['note'] = str_replace(array(';'), "<br/>", $one['note']);
          	// 	echo "<span>". $one['note'] ."</span>";
          	// }
          ?>
          </td>
          <td class="text-center" title="状态改变时间: &#10;取消: {$one['cancel']}&#10;支付: {$one['pay']}&#10;入住: {$one['checkIn']}&#10;离店: {$one['checkOut']}">
          <?php
          	$str = '';
          	switch ($one['status']) {
          		case 0:
          			$str = "取消";
          			break;
          		case 1:
          			$str = "预订";
          			break;
          		case 2:
          			$str = "已支付";
          			break;
          		case 3:
          			$str = "入住ing";/*."<p>".$one['room_ID']."房</p>"*/
          			break;
          		case 4:
          			$str = "离店";
          			break;
          		default:
          			break;
          	}
          	echo $str;
          ?>
          </td>
          <td class="text-center"><button class="btn btn-danger btn-block disabled" type="button">不可操作</button></td>
        </tr>
       </foreach>
	  </tbody>
	</table>
</div>
</body>
</html>