<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>已完成订单</title>
</head>
<body>

	<include file= "./home"/>
	已完成的订单
	<li><a href="{:U('Home/Order/dealing')}">未完成订单</a></li>

		<table border="1">
			<th>订单编号</th>
			<th>预订时间</th>
			<th>预订人信息</th>
			<th>入住\离店日期</th>
			<th>房间类型</th>
			<th>总价</th>
			<th>订单详情</th>
			<th>订单状态</th>
			<th>操作</th>

		<foreach name="data" item="one" key="k" >
	    <tr>
	    	<td>{$one['o_id']}</td>
		    <td>{$one['cTime']}</td>
		    <td align="center">{$one['name']}<br/>{$one['ID_card']}</td>
		    <td>{$one['A_date']}<br/>{$one['B_date']}</td>
		    <td align="center">{$types[$one['type']]['name']}<br/>￥{$types[$one['type']]['price']}</td>
		    <td>￥{$one['price']}</td>
		    <td>
		    <?php
		    $book_info = json_decode($one['book_info'],true);
		    ?>
		    <p>入住晚数: {$one['nights']}</p>
		    <p>入住人数: {$book_info['number']}</p>
		    <p>入住人员信息: </p>
		    <foreach name="book_info['people_info']" item="value" >
			    <li>{$value['name']} {$value['ID_card']}</li>
		    </foreach>
		    <p>备注: {$book_info['note']}</p>
		    </td>
		    <td align="center">
	    	<?php
	    		$str = '';
	    		switch ($one['status']) {
	    			case 0:
	    				$str = "取消";
	    				break;
	    			case 1:
	    				$str = "预订";
	    				break;
	    			case 2:
	    				$str = "已网上支付";
	    				break;
	    			case 3:
	    				$str = "入住ing";
	    				break;
	    			case 4:
	    				$str = "离店";
	    				break;
	    			default:
	    				break;
	    		}
	    		echo $str;
	    	?>
		    </td>
		    <td>-</td>
	    </tr>
		</foreach>
		</table>
	
</body>
</html>