<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>[助]完善客户信息</title>
	<?php $SRC = HOME_SRC; ?>
	<script type="text/javascript" src="{$SRC}/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="{$SRC}/scripts/common.js"></script>
</head>
<body>

	<include file= "./home"/>

	完善客户信息
	<form action="{:U('Home/Order/perfect')}" method="post">
		<p>姓　名：<input id="name" type="text" name="name" value="{$data['name']}" required="required">*</p>
		<p>身份证：<input id="ID" type="text" name="ID" onblur="checkID()">* <span id="ID_tips" style="color:red"></span></p>
		<p>学生证：<input id="stu_id" type="text" name="stu_id"></p>
		<p>性　别：<input id="sex_1" type="radio" name="sex" value="1">男<input id="sex_0" type="radio" name="sex" value="0">女</p>
		<p>手　机：<input id="phone" type="text" name="phone" value="{$data['phone']}" required="required" onblur="checkPhone()">* <span id="phone_tips" style="color:red"></span></p>

		<input id="submit" type="submit" value="确认" disabled="" />
		<input type="text" name="id" value="{$data['o_id']}" hidden=""/>
	</form>
	

	<script language="JavaScript">

		var info_url = "{:U('Home/Client/getPeopleInfo')}";

		/* 校验身份证是否合法，及是否已存在 */
		function checkID() {
			
			var ID = $("#ID");
			var ID_TIPS = $("#ID_tips");

			if (!isIDsLengthCorrect(ID.val())) {

				ID_TIPS.text("身份证长度不正确！应为18位！");
				reset();
				return;
			};

			if (!isIDsLastCharCorrect(ID.val())) {
				ID_TIPS.text("身份证示通过校验！请检查是否输入正确！");
				reset();
				return;
			};

			$.ajax({
	        	url: info_url,
	        	type: 'post',
	        	data: {ID: ID.val()},
	        	dataType: 'json',
	        	success: function(data) {

	        		if (data['info']) {
	        			var info = eval(data['info']);
	        			console.log(info);
	        			ID_TIPS.html('<span id="ID_tips" style="color:red">该身份证已注册！点击“确认”完成');

	        			$("#name").val(info['name']);
	        			$("#stu_id").val(info['s_ID']);
	        			$("#sex_"+info['gender']).attr('checked', '');
	        			$("#phone").val(info['phone']);
	        			
	        		}else{
	        			// ID_TIPS.text("该身份证未注册，请填写完必要信息后“确认”");
	        			ID_TIPS.text("");
	        		}

	        		$("#submit").removeAttr('disabled');
	        	}
	        });
		}

		function reset() {

			$("#stu_id").val("");
			$("#sex_0").removeAttr('checked');
			$("#sex_1").removeAttr('checked');
			$("#phone").val("");
			$("#submit").attr('disabled','');

			$("#ID").focus();
		}

		/* 校验手机号 */
		function checkPhone() {

			var phone_TIPS = $("#phone_tips");
			if (!isPhoneValid($("#phone").val())) {
				phone_TIPS.text("手机号应为11位数字");
				$("#phone").focus();

				$("#submit").attr('disabled','');
			}else{
				phone_TIPS.text("");
				$("#submit").removeAttr('disabled');
			}
		}

	</script>
	
</body>
</html>