<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>配套服务</title>
</head>
<body>
	<!-- 此页面只能扫码进入!!!!!! -->

	<li><a href="{:U('Client/Device/history')}">历史记录</a></li>
	展示可借设备列表，如：

	吹风筒（剩余6）
	电热壶（剩余0，请稍等），留言提醒前台，前台催促已占用该类设备的用户
	衣架（剩余30）
	耳塞（剩余10）

	租桌游，2元/份
	三国杀（剩余5）
	UNO（剩余3）
	...


	提交

	----------------------------------------------

	前台需要有权限向用户主动发送信息
	归还设备后，由前台确认
	
</body>
</html>