<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>[助]客户下单 - 团购</title>

	<?php $SRC = HOME_SRC; ?>
	<script type="text/javascript" src="{$SRC}/scripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{$SRC}/scripts/order_0.js"></script>
</head>
<body>

	<include file= "./home"/>

	<p>订单类型：<span><a href="{:U('Home/Client/order_0')}">普通</a></span> <span><a href="{:U('Home/Client/order_1')}">钟点</a></span> <span><a href="{:U('Home/Client/order_2')}">团购</a></span></p>
	<p style="color:green">订单类型：团购</p>
	<form action="{:U('Home/Client/order_2')}" method="post">
		<p>身份　证：<input type="text" name="ID">*</p>
		<p>入住日期：<input id="aDay" type="date" name="aDay" >*</p>
		<p>离店日期：<input id="bDay" type="date" name="bDay" >*</p>

	    <p>房　　型：

	      <select id="type" name="type" onchange="loadPrice(2)">
			<foreach name="types" item="name" key="type" >
				<option value ="{$type}">{$name}</option>
			</foreach>
	      </select>

	      <select id="price" name="price" onmouseover="loadPrice(2)">
			<option value ="{$prices['groupon_price']}">团购价 | ￥{$prices['groupon_price']}</option>
	      </select>

      	  <select id="room" name="room" onmouseover="loadRooms()">
      		<option value ="-1">预分配房间</option>
          </select>
	    </p>

    	

	    <p>订单来源：
          <select name="source">
      		<foreach name="sources" item="name" key="source" >
      			<option value ="{$source}">{$name}</option>
      		</foreach>
          </select>
	    </p>
	    
	    <p>支付方式：
	      <select name="mode">
      		<option value ="0">现金支付</option>
      		<option value ="1">网上支付</option>
          </select>
	    </p>

		<p>备　　注：<input type="text" name="note"></p>

		<div>
			<p>入住人员登记</p>
			<p>
				姓名　(一)<input type="text" name="info[0][name]">*<br/>
				身份证(一)<input type="text" name="info[0][ID_card]">*<br/>
			</p>
			<p>
				姓名　(二)<input type="text" name="info[1][name]"><br/>
				身份证(二)<input type="text" name="info[1][ID_card]"><br/>
			</p>
			<p>总人　数：<input type="number" min="1" name="number"><span style="color:purple">(复式才需要填)</span></p>
		</div>

		<p>手　　机：<input type="text" name="phone">*</p>
		<p>验证　码：<input type="text" name="verify">
		<img id="verifyImg" src="__URL__/verify/<?php echo NOW_TIME;?>" onClick="changeVerify()" title="点击刷新验证码"/></p>
		<input type="submit" value="提交" />
	</form>
	

	<script language="JavaScript">

		var price_url = "{:U('Home/Client/getPriceByStyle_Type')}";
		var rooms_url = "{:U('Home/Client/getRoomsByDate_Type')}";

		// loadPrice(2);// 页面加载完后，价格直接由type相应加载
		
		function changeVerify(){
			var timenow = new Date().getTime();
			document.getElementById('verifyImg').src='__URL__/verify/'+timenow;
		}
	</script>
	
</body>
</html>