<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>[助]客户注册</title>
</head>
<body>

	<include file= "./home"/>

	帮助客户提交酒店预订订单
	<form action="{:U('Home/Client/order')}" method="post">
		<p>身份　证：<input type="text" name="ID">*</p>
		<p>入住日期：<input type="date" name="aDay">*</p>
		<p>退房日期：<input type="date" name="bDay">*</p>
		<p>房间类型：
		  <select name="type">
			<foreach name="types" item="oneT" key="type" >
				<option value ="{$type}">{$oneT['name']} ￥{$oneT['price']}</option>
			</foreach>
	      </select>
	    </p>
		<p>备　　注：<input type="text" name="note"></p>

		<div>
			<p>入住人员登记</p>
			<p>
				姓名　(一)<input type="text" name="info[0][name]">*<br/>
				身份证(一)<input type="text" name="info[0][ID_card]">*<br/>
			</p>
			<p>
				姓名　(二)<input type="text" name="info[1][name]"><br/>
				身份证(二)<input type="text" name="info[1][ID_card]"><br/>
			</p>
		</div>

		<p>手　　机：<input type="text" name="phone">*</p>
		<p>验证　码：<input type="text" name="verify">
		<img id="verifyImg" src="__URL__/verify/<?php echo NOW_TIME;?>" onClick="changeVerify()" title="点击刷新验证码"/></p>
		<input type="submit" value="提交" />
	</form>
	

	<script language="JavaScript">
		function changeVerify(){
			var timenow = new Date().getTime();
			document.getElementById('verifyImg').src='__URL__/verify/'+timenow;
		}
	</script>
	
</body>
</html>